{% extends "index.html" %}

{% block content %}

<div class="productTable">
			<form id = "show_product_form" method="POST">
				{% csrf_token %}
				{{ form.as_p }}
				<div class="form-group">
					<button class="btn btn-outline-info" type="submit">wybierz koszyk</button>
				</div>
			</form>

			<table id="table">
				<tr>
					<td style="color: white">Rodzaj produktu</td>
					<td>Całkowita wartość [zł]</td>
					<td>Częstotliwość kupowania</td>
				</tr>

					{%for x in data%}

						<tr>
							<td>{{x}}</td>
							<td></td>
							<td></td>

						</tr>


					{%endfor%}
			</table>
		</div> <!-- productTable -->

{% endblock content %}
