{% extends "index.html" %}

{% block content %}

<div class="productTable">
			<form id = "show_product_form" method="POST">
				{% csrf_token %}
				{{ form.as_p }}
				<div class="form-group">
					<button class="btn btn-outline-info" type="submit">wybierz koszyk</button>
				</div>
			</form>

			<table id="table">
				<tr>
					<td>Rodzaj produktu</td>
					<td>Całkowita wartość [zł]</td>
					<td>Częstotliwość kupowania</td>
				</tr>

						<tr>
							{%for x in products%}
							<td>{{x.category}} </td>
							<td>{{x.total_price}} zł </td>
							<td> {{x.total}} </td>
						</tr>
						{%endfor%}
						<td style="background-color: #cc1111">Wartość całego koszyka wynosi:</td>
						<td  style="background-color: #cc1111"> {{sum_products}} zł </td>
						<td  style="background-color: #cc1111"> </td>
			</table>
		</div> <!-- productTable -->

{% endblock content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.bundle.min.js"></script>
<script src="ck/static/chartkick.js"></script>
<script src="http://www.google.com/jsapi"></script>
<script src="ck/static/chartkick.js"></script>