{% extends "index.html" %}

{% block content %}
<div class="row">
	<div class="col-sm-12">

		<div class="cartForm">
			<p>Stwórz produkt, który chcesz umieścić w koszyku, wpisz jego cenę oraz wybierz kategorię do której należy.</p>
			<div class="addProduct">
				<form id = 'product_form' method="POST">
					{% csrf_token %}
					{{ form }}
						<br> <br>
					<div class="form-group">
						<button class="btn btn-outline-info" type="submit" name="addProduct">Dodaj produkt</button>
					</div>
				</form>
			</div>
		</div>

		<div class="productTable">
			<form id = "show_product_form" method="POST">
				{% csrf_token %}
				{{ form2.as_p }}
				<div class="form-group">
					<input type="submit" name="choiceCart" value="Click me">
				</div>
			</form>

			<table id="table">
				<tr>
					<td style="color: white">Rodzaj produktu</td>
					<td> Kategoria </td>
					<td>Wartość [zł]</td>
					<td>Usuń produkt z koszyka</td>
				</tr>
				{% for cart in data %}
					{% for product in cart.product.all %}
						<tr>
							<td>{{ product }}</td>
							<td>{{product.get_category_display}}</td>
							<td>{{product.price}}</td>
							<td>
								<form method='POST'>
									{% csrf_token %}
									<input type="hidden" name="product_id"  value="{{ product.id }}"/>
									<input type="submit" class="btn btn-danger" value="Usuń" name="deleteButton"/>
								</form>
                           </td>

						</tr>
					{% endfor %}
				{% endfor %}
			</table>
		</div> <!-- productTable -->

	</div> <!-- col-sm-12 -->
</div> <!-- row -->
{% endblock content %}
