{% extends "index.html" %}

{% block content %}
{% load mathfilters %}
<div class="productTable">
			<form id = "show_product_form" method="POST">
				{% csrf_token %}
				{{ form.as_p }}
				<div class="form-group">
					<button class="btn btn-outline-info" type="submit">wybierz koszyk</button>
				</div>
			</form>

			<table id="table">
				<tr>
					<td>Rodzaj produktu</td>
					<td>Całkowita wartość [zł]</td>
					<td>Częstotliwość kupowania</td>
					<td>Procentowy udział w całych wydatkach</td>
				</tr>

						<tr>
							{%for x in products%}
							<td>{{x.category}} </td>
							<td>{{x.total_price}} zł </td>
							<td> {{x.total}} </td>
							{% with numerator=x.total_price denominator=sum_products %}
							<td>{{numerator|mul:100|div:denominator|floatformat }} % </td>

						</tr>
				 {% endwith %}
						{%endfor%}
						<td style="background-color: #cc1111">Wartość całego koszyka wynosi:</td>
						<td  style="background-color: #cc1111"> {{sum_products}} zł </td>
						<td  style="background-color: #cc1111"> </td>
						<td  style="background-color: #cc1111"> </td>
			</table>
 			<div id="chart-1">{{ output|safe }}</div>
		</div> <!-- productTable -->

{% endblock content %}
