<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	 <title>Struktura zakupów</title>
	 <meta charset="utf-8">
	 <meta name="viewport" content="width=device-width, initial-scale=1">
	 <link rel="stylesheet"href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	 <link href="https://fonts.googleapis.com/css?family=Lato|Permanent+Marker" rel="stylesheet">
	 <script>
		function switchInfo()
		{
		   var info = document.getElementById('info')
		   info.style.display=(info.style.display=='none')?'':'none'
		}
	</script>
</head>
<body>
	<div class="container" >
		<div class="row">
			<div class="col-sm-12">
				<div class="slogan" >
					<h1>Sprawdź i zaplanuj strukturę swoich zakupów.</h1>
					<h2>Aplikacja pomagająca w zarządzaniu budżetem.</h2> </br>
					<button class="buttonLogo" type="button" onclick="switchInfo()">Więcej o aplikacji</button> </br>
					<div id="info" style="display:none">
						Proste i funkcjonalne narzędzie do kontrolowania wydatków </br>
						Twórz własne koszyki i dodawaj do nich produkty które kupiłeś aby pod koniec zaplanowanego okresu sprawdzić strukturę swoich zakupów.<br>
						Najlepiej tworzyć koszyki co określony okres czasu, np. co tydzień lub miesiąc, aby później porównywać do siebie wydatki i sprawdzić na co wydajesz najwięcej.<br>
						Tworzenie koszykóœ jest banalnie proste, wpisujemy jedynie nazwę i zatwierdzamy. Aby dodać produkt przechodimy na zakładkę "Dodaj produkt", wpisujemy nazwę, <br>
						kwotę oraz  zaznaczamy kategorię do ktr©ej należy produkt oraz koszyk, do którego chcesz go dodać. Poniżej formularza dodania widnieje tabela z dodanymi produktami.</br>
						W zakładce "Struktura zakupów" znajduje się tabela z sumowaną wartością koszyka oraz produktami podzielonymi na poszczególne kategorie.<br>
						W zakładce "Jak oszczędzać" dstępne są artykuły na temat oszczędzania. 

					</div>
				</div>
			</div>
		</div>

		{% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
          {% block content %}{% endblock %}

	</div>
	<footer>
	<p id="trescStopki"> Copyright © 2019  Patrycja Smolak patrycja.s449@gmail.com </p>
	</footer>
</body>
</html>