{% extends "index.html" %}
{% block content %}
<div class="row">
	<div class="col-sm-12">
		<div class="cartForm">
			<p> Jeśli nie masz jeszcze aktualnego koszyka lub chcesz stworzyć kolejny, dodaj nowy koszyk do którego wrzucać będziesz poszczególne produkty z podziałem na rodzaj oraz cenę. </p>
			<div class="addProduct">
					<form  id = 'cart_form' method="post">
						<label >Nazwa koszyka: </label>
						{% csrf_token %}
						{{form}}
						<br> <br>
						<button class="btn btn-outline-info" type="submit">Stwórz koszyk</button>
					</form>
			</div>
		</div>
	</div>
</div>
{% endblock content %}