{% extends "log&register_base.html" %}
{% block content %}
<div class="row">
	<div class="col-sm-12" >
		<div id="rejestracja">
			<form method="POST">
				{% csrf_token %}
				<fieldset class="form-group">
					<legend class="border-bottom mb-4">Dołącz do nas już dzisiaj!</legend>
					{{ form.as_p }}
				</fieldset>
				<button class="btn btn-outline-info" type="submit">Zarejestruj</button>
			</form>
			<div class="border-top pt-3">
				<small class="text-muted">
					Masz już konto?? <a class="ml-2" href="{% url 'user_login' %}">Zaloguj się</a>
				</small>
			</div>
		</div>
	</div>
</div>

{% endblock content %}
