html,body{
	margin:0px;
	padding:0px;
	height:100%;
	background-image: url('/static/images/tlo1.jpg');

}

.container{
	height: 100%;
	width:100%;
	margin: 0px;
	padding:0px;
	margin-bottom: 100px;
	position: relative;
	font-family: 'Lato', sans-serif;
	text-align: center;
}

.slogan{
	height: 100%;
	width: 100%;
	color: white;
	background-image: url('/static/images/17.jpg');
	text-align: center;
	font-family: 'Lato', sans-serif;
	padding-top:30px;
	padding-bottom: 50px;
	border-bottom: 3px solid white;


}
h1{
	font-size: 50px;
}
h2{
	font-size: 30px;
}

p{
	font-size: 30px;
	color:black;
}
#info{

	font-size: 20px;

}


.buttonLogo{
	background: transparent;
	color: white;
	margin-bottom:5px;
	font-size:20px;
	text-shadow: 0 0 1px white;
}


#logowanie{
	width: 500px;
	margin: 0 auto;
	background: #EEEEEE;
	border: 1px solid silver;
	font: 16px calibri;
	letter-spacing: -1px;
	-webkit-box-shadow: 0 0 2px silver;
	-moz-box-shadow: 0 0 2px silver;
	box-shadow: 0 0 2px silver;
	border-radius: 10px;
	margin-top: 100px;
}
#rejestracja {
	width: 500px;
	margin: 0 auto;
	background: #EEEEEE;
	border: 1px solid silver;
	font: 16px calibri;
	letter-spacing: -1px;
	-webkit-box-shadow: 0 0 2px silver;
	-moz-box-shadow: 0 0 2px silver;
	box-shadow: 0 0 2px silver;
	border-radius: 10px;
	margin-top: 50px;
}

label {
	display: block;
	width: 260px;
	padding: 10px 20px;
	color: #696969;
	font-size: 16px;
	text-shadow: 0 0 1px silver;
}


#lower{
	width: 360px;
	padding: 5px 160px;
	margin-top: 20px;
}

.small{
	text-align: center;

}

button{
	background-color:white;
	color: black;
	margin-bottom:5px;
	text-shadow: 0 0 1px white;
	border-radius: 5px;

}

nav {
    min-height:200px;
    background: transparent;
	text-align: center;
	padding: 10px;

}
nav ul {
    list-style:none;

    font-size:0;
    display: inline-block;

}
nav ul li {
    display: inline-block;

}
nav ul li a {
    color: #333333;
    display: inline-block;
    text-decoration: none;
	margin-left: 15px;
	margin-right: 15px;
	border: 2px solid #990033;
	background: rgba(255, 255, 255, 0.7);
    filter: alpha(opacity=70);
	height: 155px;
	width: 155px;
	font-size: 14px;
	font-weight: bold;
	padding: 30px;

}
nav ul li a:hover, nav ul li a:active, nav ul li a:focus {
	border: 3px solid white;
	color: #990033;
	text-decoration: none;
	box-shadow: 2px 2px 4px;
	background: rgba(255, 255, 255, 0.9);
    filter: alpha(opacity=90);
}
.zalogowanyJako{
	text-align:right;
	font-size:20px;

}
footer{
	position: absolute;
	margin-bottom:0px;
	width:100%;
	height:60px;
	background: rgba(0, 0, 0, 0.8);
    filter: alpha(opacity=80);
	text-align:center;
	border-top: 2px solid white;

}
#trescStopki{

	font-size: 20px;
	padding-top:15px;
	color: white;
}
.demo-icon{

	font-size: 30px;
	color: #990033;

}
.cartForm{
	border-top: 2px solid white;
	border-bottom: 2px solid white;
	padding-top:30px;
	padding-bottom:30px;
	margin-top:30px;
	min-height:300px;
	position: relative;
	background: rgba(255, 555, 255, 0.3);
    filter: alpha(opacity=30);
	text-align: center
}
.form{
	position: absolute;
    top: 65%;
    left: 45%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
	min-height:150px;
	width:250px;
}


p{

	text-align: center;
}
label{
	color: black;

}
.content{
	height:100%;
}
.productTable{
	padding-top:30px;
	padding-bottom:30px;
	margin-top:10px;
	margin-bottom: 60px;
	height:400px;
	position: relative;
}

.tablescroll{
	overflow-y:scroll;
	overflow-x:hidden;
	height:400px !important;
	min-width: 300px;
	position:relative;
	margin: auto;
	margin-bottom: 80px;
}

#table{
	width: 60%;
        /* określa szerokość tabeli na 75%*/
        height:100px;
        /* określa wysokość tabeli na 100px*/
        padding: 10px;
        /* określa margines wewnętrzny na 10 px */
        margin: 15px auto 35px auto;
        /* określa margines zewnętrzny- tabela zostaje wyśrodkowana */
        /* określa background tabeli */
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        border-radius: 15px;
        /* określa zaokrąglenie rogów tabeli za pomocą CSS3*/
        box-shadow: 2px 2px 20px grey;
        -moz-box-shadow: 2px 2px 20px grey;
        -webkit-box-shadow:2px 2px 20px grey;
        /* określa oceniowanie tabeli za pomocą CSS3*/
		background: rgba(0, 0, 0, 0.7);
		filter: alpha(opacity=70);
		color: white;
}

#table tr td {
	padding: 10px;
	border-bottom: 1px solid white;
   min-height:100px;
   min-width:200px;
}

.addProduct {
	width: 100px;
    margin-left: 45%;

}

.blog{

	margin:30px 200px 30px 200px;
	color: white;
	text-align: justify;
}

.newPost{
 	margin: 30px 100px 30px 100px;
	text-align: center;
}

.comment_section{

	text-align: left !important;
	margin:30px 200px 30px 200px;

}

.comment{
	min-height: 100px;
	min-width: 300px;
	border-bottom: white 1px double;
	margin: 10px;
	color: white;
}

.wyjscie{
	color: #333333;
    display: inline-block;
    text-decoration: none;
	text-align: center;
	border: 2px solid #990033;
	background: rgba(255, 255, 255, 0.7);
    filter: alpha(opacity=70);
	width: 100%;
	height: 60px;
	font-size: 14px;
	font-weight: bold;
	padding-top: 20px;
}

.title{
	color: white;
	text-decoration: none;
}

.logut_title{

	color: #990033;
	text-decoration: none;
}

.logut_title:hover{
	 text-decoration: none;
	 color: #990033;
 }

.title:hover{
	color: #990033;
	text-decoration: none;
}