
.icon-mail:before { content: '\e800'; } /* '' */
.icon-phone:before { content: '\e801'; } /* '' */
.icon-plus:before { content: '\e802'; } /* '' */
.icon-minus:before { content: '\e803'; } /* '' */
.icon-mail-1:before { content: '\e804'; } /* '' */
.icon-basket:before { content: '\e805'; } /* '' */
.icon-calendar:before { content: '\e806'; } /* '' */
.icon-chart-bar:before { content: '\e807'; } /* '' */
.icon-floppy:before { content: '\e808'; } /* '' */
.icon-ok-outline:before { content: '\e809'; } /* '' */
.icon-cancel-outline:before { content: '\e80a'; } /* '' */
.icon-basket-1:before { content: '\e80b'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-money:before { content: '\f0d6'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-git:before { content: '\f1d3'; } /* '' */
.icon-copyright:before { content: '\f1f9'; } /* '' */
.icon-chart-pie:before { content: '\f200'; } /* '' */
.icon-hand-pointer-o:before { content: '\f25a'; } /* '' */
.icon-user-circle-o:before { content: '\f2be'; } /* '' */
.icon-facebook-squared-1:before { content: '\f308'; } /* '' */
.icon-instagram-1:before { content: '\f32d'; } /* '' */